body {
    background-color: #DDDDDD;
}

.padre {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 'header' 'main' 'footer';
}

header {
    grid-area: header;
    margin-bottom: 5%;
}

main {
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 'main' 'pagination';
}

.pagination-news {
    grid-area: pagination;
    grid-template-columns: 1fr;
    justify-self: center;
}

.nav-pagination {
    margin: auto;
}

.content-main {
    display: grid;
    grid-area: main;
    grid-template-columns: repeat(2, 1fr);
}

footer {
    grid-area: footer;
    margin-top: 15%;
}

.content-main-users {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.content-news-admin {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.content-list {
    margin: 5% auto 5% auto;
}

.content-list ul {
    width: 300px;
    text-align: center;
}

.card-news {
    width: 30rem;
    margin: 2% auto 5% auto;
    text-align: center;
}

.m-1 {
    margin: auto;
    background-color: aquamarine;
}

.form-login {
    background-color: white;
    margin: 2% 4% 5% 4%;
    padding: 2% 2% 2% 2%;
}

@media only screen and (max-width:960px) {
    .card-news {
        width: 20rem;
    }
}

@media only screen and (max-width:700px) {
    .content-main {
        grid-template-columns: 1fr;
    }
    .card-news {
        width: 30rem;
    }
}

@media only screen and (max-width:520px) {
    .card-news {
        width: 20rem;
    }
}